.header {
  background-color: #eff1f2;
  text-align: center;
  padding: 88px 20px 87px 20px;
  @media (min-width: 600px) {
    padding: 165px 160px;
  }
  @media (min-width: 1000px) {
    padding: 124px 248px;
  }
}

.header__profile {
  margin: 0 auto;
}
