.social {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__link {
  border-radius: 50%;
  display: block;
  font-size: 0;
  height: 48px;
  opacity: 0.8;
  width: 48px;
  &:hover,
  &:focus {
    opacity: 1;
  }
  &:active {
    opacity: 0.7;
  }
}

.social__link_vk {
  background-color: #4c75a3;
  background-image: url(./images/vk-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social__link_instagram {
  background-color: #e4405f;
  background-image: url(./images/insta-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social__link_telegram {
  background-color: #0088cc;
  background-image: url(./images/telegram-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
